<ion-header>
  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input [(ngModel)]="input" disabled></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="full" (click)="append('7')">7</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('8')">8</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('9')">9</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('/')">/</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="full" (click)="append('4')">4</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('5')">5</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('6')">6</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('*')">*</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="full" (click)="append('1')">1</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('2')">2</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('3')">3</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('-')">-</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="full" (click)="append('0')">0</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="clear()">C</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="calculate()">=</ion-button></ion-col>
      <ion-col><ion-button expand="full" (click)="append('+')">+</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

